<div class="row">
  <div class="col-md-12 element">
    <h2>*ngFor, *ngIf, pipes, container and nested component Demo</h2>
    <hr>
    <app-employeecount
      [all]='getTotalEmployees()'
      [mens]='getTotalMaleEmployees()'
      [womens]='getTotalFemaleEmployees()'
      (radioButtonSelectionChanged)='changedSelectionFunction($event)'
    ></app-employeecount>        
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Index</th>
          <th>Code '|'</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Annual Salary '|'</th>
          <th>Birth Date '|'</th>
          <th>Is First</th>
          <th>Is Last</th>
          <th>Is Even</th>
          <th>Is Odd</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employees; let i = index;
          let isEven = even; let isOdd = odd; let isFirst = first; let isLast = last;">
          <tr *ngIf="selectedRadioButton=='All' || selectedRadioButton==employee.gender">
          <td>{{ i }}</td>
          <td>{{ employee.code | uppercase }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.annualSalary | currency: 'USD':true:'1.3-3' }}</td>
          <td>{{ employee.dateOfBirth | date: 'mediumDate' }}</td>
          <td>{{ isFirst }}</td>
          <td>{{ isLast }}</td>
          <td>{{ isEven }}</td>
          <td>{{ isOdd }}</td>
        </tr>
  
        </ng-container>
        <tr *ngIf="!employees || employees.lenght==0">
          <td colspan="5"><h3>No employees to display.</h3></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
