<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">{{ title ? title : "No Title" }}</h1>
  
  <app-login></app-login>
  <div class="row">
    <div class="col-md-6 element">
      <app-countrycitydropdown></app-countrycitydropdown>
    </div>
    <div class="col-md-6 element">
      <app-lifecyclehooks> </app-lifecyclehooks>
    </div>
  </div>
   <app-bind1></app-bind1>
  <app-employee></app-employee>
  <app-observabledemo></app-observabledemo>
</div>
